GHCR_OWNER=twoj-login-lub-org-lowercase
GHCR_REPOSITORY=demosmgserial
BACKEND_TAG=latest
FRONTEND_TAG=latest
BACKEND_PORT=5010
FRONTEND_PORT=3000
API_BASE_URL=
FTP_PORT=21
FTP_USER=SICK
FTP_PASS=SICK
FTP_PASV_ADDRESS=
FTP_PASV_ADDR_RESOLVE=NO
FTP_PASV_MIN_PORT=21100
FTP_PASV_MAX_PORT=21110
FTP_FILE_OPEN_MODE=0666
FTP_LOCAL_UMASK=022
