GHCR_OWNER=twoj-login-lub-org-lowercase
GHCR_REPOSITORY=demosmgserial
BACKEND_TAG=latest
FRONTEND_TAG=latest
BACKEND_PORT=5010
FRONTEND_PORT=3000
API_BASE_URL=
FTP_MIRROR_HOST_PATH=/srv/ftp_root/sick
